.ferst {
    background-image: url('../../Assets/Img/back.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .container {
        display: flex;
        align-items: center;
        justify-content: center;

        &__start {
            width: 647px;
            height: 510px;
            background: linear-gradient(122.18deg, rgba(113, 65, 129, 0.8) 1.31%, rgba(59, 24, 85, 0.8) 99.01%);
            border: 1.70303px solid #B98C48;
            backdrop-filter: blur(4.25758px);
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            p {
                color: #fff;
                font-family: 'Comfortaa';
                font-style: normal;
                font-weight: 600;
                font-size: 28px;
                line-height: 31px;
                margin-top: 30px;
            }

            button {
                width: 320px;
                height: 65px;
                background: linear-gradient(180deg, #E4C889 0%, #AB7833 100%);
                box-shadow: 0px 4px 20px rgba(199, 129, 255, 0.25);
                border-radius: 10px;
                border: none;
                margin-top: 80px;
                font-family: 'Comfortaa';
                font-style: normal;
                font-weight: 600;
                font-size: 28px;
                line-height: 31px;
                color: #fff;
            }
        }
    }
}

@media (max-width: 500px) {
    .ferst {
        .container {
            &__start {
                width: 100%;
                img{
                    width: 230px;
                    height: 150px;
                }
                p {
                    font-size: 28px;
                }

                button {
                    width: 300px;
                    height: 60px;
                }
            }
        }
    }
}


@media (max-width: 400px) {
    .ferst {
        .container {
            &__start {
                width: 100%;
                img{
                    width: 230px;
                    height: 150px;
                }
                p {
                    font-size: 28px;
                }

                button {
                    width: 80%;
                    height: 60px;
                }
            }
        }
    }
}